.recipe-container {
    width: 480px;
}

.recipe-wrapper {
    background-color: white;
    min-width: 300px;
    max-width: 480px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center; 
}

.recipe-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center; 
}

.recipe-info h3, h4, h6{
    border-bottom: 1px solid #ccc;
    width: 85%;
}

.recipe-info h4, h6{
   color: #ccc; 
}

.recipe-info h3, h4, h6{
    padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .recipe-wrapper {
        flex-direction: column;
    }
  }